<form action="" class="query-form">
	<div class="query-form__parameter">
		<label for="" class="query-form__label">origin</label>
		<input type="text" class="query-form__textbox">
	</div>
	<div class="query-form__parameter">
		<label for="" class="query-form__label">destination</label>
		<input type="text" class="query-form__textbox">
	</div>
	<div class="query-form__parameter">
		<label for="" class="query-form__label">airline</label>
		<input type="text" class="query-form__textbox">
	</div>
</form>