<div class="result-stat">
	<div class="result-stat__figure-container">
		<h1 class="result-stat__figure">{{value}}</h1>
		<p class="result-stat__unit">{{unit}}</p>
	</div>
	<p class="result-stat__label">{{slug}}</p>
</div>