{{!-- <div class="results-header">
	<h3 class="results-header__title">results</h3>
</div> --}}
<ul class="stats-list">
	{{#each stats}}
	{{>stat}}
	{{~/each}}
</ul>
<div class="trends">
	{{#each trends}}
	{{> trend}}
	{{~/each}}
</div>